@{
    ViewBag.Title = "User Management System";
}

<style>
    .home-container {
        text-align: center;
    }

        .home-container > .row {
            display: flex;
            justify-content: center; /* Centraliza horizontalmente */
            align-items: center; /* Centraliza verticalmente */
            flex-direction: column; /* Organiza os elementos em uma coluna */
        }

    .loader {
        width: 60px;
        aspect-ratio: 4;
        --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
        background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
        background-size: calc(100% / 3) 100%;
        animation: l7 1s infinite linear;
        filter: blur(3px);
    }

    /*Case aplique diretamente na View: O erro 'keyframes' does not exist in the current context' está a ocorrer porque o Razor está interpretando erroneamente -> acrescentar @@*/
    @@keyframes l7 {
        33% {
            background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
        }

        50% {
            background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
        }

        66% {
            background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
        }
    }
</style>

<section class="home-container" aria-labelledby="aspnetTitle">
    <div class="row">
        <hgroup>
            <h1>@ViewBag.Title</h1>
        </hgroup>
        <br />
        <p>The project is under development. Thank you for your understanding.</p>
        <p>More news soon!</p>
        <p><a class="btn btn-outline-dark" href="https://www.linkedin.com/in/goncaloffmarques/">Contact &raquo;</a></p>
        <br />
        <span class="loader"></span>
    </div>
</section>