@model UserManagement.DAL.Models.Users.UserLogin

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Delete User</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

@using (Html.BeginForm("Delete", "UserLogins", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.UserLoginId)

    <div class="modal-body">
        <p>Are you sure you want to delete this user <span class="text-uppercase" style="color:darkred">@Html.DisplayFor(model => model.UserName)</span>? This action cannot be undone.</p>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

