@model UserManagement.Web.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>
@using (Html.BeginForm("ForgotPassword", "UserLogins", new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
}
